---
layout: post
title: 遗传算法
category : programming
tagline: "优胜劣汰 适者生存"
tags : [algorithm, genetic]
---
{% include JB/setup %}
<script language="JavaScript" type="application/javascript" src="http://cdn.bootcss.com/angular.js/1.4.8/angular.js"></script>
<div ng-app="evolutionApp" ng-controller="evolutionController">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20px;">
            <h4>说明</h4>
            <div>
                <p>这是一个模拟生物遗传进化的程序，假设机器人罗比的世界是一个10*10的网格，网格四周是墙，网格中间随机分布着一些易拉罐（每个格子最多有1个易拉罐），
                    罗比的工作就是清理这些易拉罐。</p>
                <p>每次清扫任务罗比可以执行200个动作，动作可以是以下7种：向北移动，向南移动，向西移动，向东移动，不动，捡拾罐子，随机移动。
                    每个动作都会受到奖励或惩罚，如果撞墙则扣5分并弹回原来的格子，如果执行捡拾罐子的动作但是地上却没有罐子则扣1分，
                    如果成功捡到一个罐子加10分，最后的得分称作罗比本次任务的适应度，执行若干次任务后会得到一个平均的适应度，记为当前个体的适应度，
                    适应度越高说明罗比越聪明。</p>
                <p>罗比想要获得高的得分，就必须尽可能多的收集罐子，别撞墙，没罐子的时候别去捡。</p>
                <p>这个问题并不是很难，人工为罗比设计一个好策略不是很难，但是我们没有这么做，而是使用遗传算法，让计算机替我们进化出来一个好策略。</p>
                <p>更详细的解释未完待续...</p>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <label for="ipt_generation" class="sr-only">进化多少代</label>
                    <input type="number" class="form-control" id="ipt_generation"
                           placeholder="进化多少代"
                           ng-model="config.generation_num">
                </div>
                <div class="form-group">
                    <label for="ipt_individual_num" class="sr-only">每一代个体数量</label>
                    <input type="number" class="form-control" id="ipt_individual_num"
                           placeholder="每一代个体数量"
                           ng-model="config.individual_num">
                </div>
                <div class="form-group">
                    <label for="ipt_task_num" class="sr-only">个体执行任务数</label>
                    <input type="password" class="form-control" id="ipt_task_num" disabled placeholder="个体执行任务数">
                </div>
                <div class="form-group">
                    <label for="ipt_step_num" class="sr-only">一次任务走多少步</label>
                    <input type="password" class="form-control" id="ipt_step_num" disabled placeholder="一次任务走多少步">
                </div>
                <button type="button" class="btn btn-default" ng-click="start()">开始进化</button>
                <button type="button" class="btn btn-default" ng-click="stop()">终止</button>
            </form>
        </div>
        <div class="col-md-6">
            <h4>主进度：</h4>
            <div style="height: 300px; overflow-x: hidden; overflow-y: auto;
            border: 1px solid #999; border-radius : 0.5em;">
                <ul style="margin-top: 5px;">
                    <li ng-repeat="log in mainLogInfo track by $index">
                        <span ng-bind="log"></span>
                    </li>
                </ul>
            </div>
            <h4>进度细节：</h4>
            <div style="height: 500px; overflow-x: hidden; overflow-y: auto;
            border: 1px solid #999; border-radius : 0.5em;">
                <ul style="margin-top: 5px;">
                    <li ng-repeat="log in detailLogInfo track by $index">
                        <span ng-bind="log"></span>
                    </li>
                </ul>
            </div>
            <div>
                <p style="word-break: break-all; word-wrap: break-word;"></p>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

<script type="application/javascript">
    'use strict';
    angular.module('evolutionApp', [])
            .controller('evolutionController', function($scope, $interval) {
                var randomInt = function(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                };

                //情形列表243种
                var Situation = {
                    situationMap : {},
                    status : ['empty', 'wall', 'jar'],
                    make : function() {
                        var num = 0;
                        for (var i = 0; i < this.status.length; i++) {
                            for (var j = 0; j < this.status.length; j++) {
                                for (var k = 0; k < this.status.length; k++) {
                                    for (var m = 0; m < this.status.length; m++) {
                                        for (var n = 0; n < this.status.length; n++) {
                                            var s = [this.status[i], this.status[j], this.status[k], this.status[m], this.status[n]].join(',');
                                            this.situationMap[s] = num;
                                            num++;
                                        }
                                    }
                                }
                            }
                        }
                        return this.situationMap;
                    }
                };

                //单个机器人罗比
                var Robey = function (gene) {
                    this.gene = []; //罗比的基因
                    this.init(gene);
                };
                Robey.prototype = {
                    init : function(gene) {
                        if (!gene) {
                            for (var i = 0; i < 243; i++) {
                                this.gene.push(randomInt(0, 6));
                            }
                        } else {
                            this.gene = gene;
                        }
                        return this.gene;
                    },
                    getGene : function() {
                        return this.gene;
                    },
                    getAction : function(gene_id) {
                        return this.gene[gene_id];
                    }
                };

                //罗比所在的二维世界
                var World = function() {
                    this.height = 10;
                    this.width = 10;
                    this.fields = [];
                };
                World.prototype= {
                    init : function() {
                        for (var x = 0; x < this.width; x++) {
                            this.fields[x] = [];
                            for (var y = 0; y < this.height; y++) {
                                this.fields[x][y] = randomInt(0, 1);
                            }
                        }
                        return this.fields;
                    },
                    getField : function(x, y) {
                        return this.fields[x][y];
                    },
                    setField : function(x, y, value) {
                        this.fields[x][y] = value;
                    },
                    getHeight : function() {
                        return this.height;
                    },
                    getWidth : function() {
                        return this.width;
                    }
                };

                //单个个体的单次进化过程，得到单次适应度
                var Task = function(task_id, robey_id, robey) {
                    this.task_id = task_id;
                    this.robey_id = robey_id;
                    this.step_num = 200;
                    this.position = {
                        x : 0,
                        y : 0
                    };
                    this.robey = robey;
                    this.world = new World();
                    this.fitness = 0;
                    this.world.init();
                };
                Task.prototype = {
                    getCurrentSituation : function() {
                        var situation = [];
                        //北
                        if (this.position.y == 0) {
                            situation.push('wall');
                        } else {
                            if (this.world.getField(this.position.x, this.position.y - 1) === 1) {
                                situation.push('jar');
                            } else {
                                situation.push('empty');
                            }
                        }
                        //南
                        if (this.position.y == this.world.getHeight() - 1) {
                            situation.push('wall');
                        } else {
                            if (this.world.getField(this.position.x, this.position.y + 1) === 1) {
                                situation.push('jar');
                            } else {
                                situation.push('empty');
                            }
                        }
                        //东
                        if (this.position.x == this.world.getWidth() - 1) {
                            situation.push('wall');
                        } else {
                            if (this.world.getField(this.position.x + 1, this.position.y) === 1) {
                                situation.push('jar');
                            } else {
                                situation.push('empty');
                            }
                        }
                        //西
                        if (this.position.x == 0) {
                            situation.push('wall');
                        } else {
                            if (this.world.getField(this.position.x - 1, this.position.y) === 1) {
                                situation.push('jar');
                            } else {
                                situation.push('empty');
                            }
                        }
                        //中
                        if (this.world.getField(this.position.x, this.position.y) === 1) {
                            situation.push('jar');
                        } else {
                            situation.push('empty');
                        }
                        return situation.join(',');
                    },
                    start : function(situationMap) {
                        var self = this;
                        for (var i = 0; i < this.step_num; i++) {
                            self.next(situationMap);
                        }
                        return this.getFitness();
                    },
                    next : function(situationMap) {
                        var situation = this.getCurrentSituation();
                        var gene_id;
                        if (gene_id = situationMap[situation]) {
                            //console.log('基因id：' + gene_id);
                            var action_id = this.robey.getAction(gene_id);
                            //console.log('action_id:', action_id);
                            switch (action_id) {
                                case 0:
                                    this.moveNorthward(); //向北
                                    break;
                                case 1:
                                    this.moveSouthward(); //向南
                                    break;
                                case 2:
                                    this.moveEastward(); //向东
                                    break;
                                case 3:
                                    this.moveWestward(); //向西
                                    break;
                                case 4:
                                    this.rest(); //不动
                                    break;
                                case 5:
                                    this.pickUpJar(); //捡拾罐子
                                    break;
                                case 6:
                                    this.moveRandom(); //随机移动
                                    break;
                            }
                        }
                        return this.getFitness();
                    },
                    moveNorthward : function() {
                        //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 向北');
                        if (this.position.y > 0) {
                            this.position.y -= 1;
                        } else {
                            //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 撞墙');
                            this.reduceFitness(5); //撞墙
                        }
                    },
                    moveSouthward : function() {
                        //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 向南');
                        if (this.position.y < this.world.getHeight() - 1) {
                            this.position.y += 1;
                        } else {
                            //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 撞墙');
                            this.reduceFitness(5);
                        }
                    },
                    moveEastward : function() {
                        //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 向东');
                        if (this.position.x < this.world.getWidth() - 1) {
                            this.position.x += 1;
                        } else {
                            //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 撞墙');
                            this.reduceFitness(5);
                        }
                    },
                    moveWestward : function() {
                        //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 向西');
                        if (this.position.x > 0) {
                            this.position.x -= 1;
                        } else {
                            //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 撞墙');
                            this.reduceFitness(5);
                        }
                    },
                    rest : function() {
                        //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 不动');
                        //do nothing
                    },
                    pickUpJar : function() {
                        //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 捡拾罐子');
                        if (this.world.getField(this.position.x, this.position.y) === 1) {
                            //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 捡到罐子');
                            this.addFitness(10);
                            this.world.setField(this.position.x, this.position.y, 0);
                        } else {
                            //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 没捡到罐子');
                            this.reduceFitness(1);
                        }
                    },
                    moveRandom : function() {
                        //console.log('个体:' + this.robey_id + ' 任务：' + this.task_id + ' 随机移动');
                        var methods = ['moveNorthward', 'moveSouthward', 'moveEastward', 'moveWestward'];
                        var rand = randomInt(0, 3);
                        //console.log(methods[rand]);
                        this[methods[rand]]();
                    },
                    addFitness : function(value) {
                        this.fitness += value;
                    },
                    reduceFitness : function(value) {
                        this.fitness -= value;
                    },
                    getFitness : function() {
                        return this.fitness;
                    }
                };

                //单个个体在n个任务中的进化过程，得到平均适应度
                var Process = function(id, robey, parent_gid, population_id) {
                    this.parent_generation_id = parent_gid ? parent_gid : 0; //父代
                    this.population_id = population_id ? population_id : 0;
                    this.id = id;
                    this.robey = robey;
                    this.task_num = 200;
                    this.curr_task_num = 0;
                    this.fitness_sum = 0;
                    this.fitness_avg = 0;
                    this.event = {
                        finish : null
                    };
                };
                Process.prototype = {
                    start : function(situationMap, onFinish) {
                        var self = this;
                        self.event.finish = onFinish;
                        var t = new Date().getTime();
                        var timer = $interval(function() {
                            if (self.curr_task_num < self.task_num) {
                                var task = new Task(self.curr_task_num, self.id, self.robey);
                                var fitness = task.start(situationMap);
                                self.fitness_sum += fitness;

/*                                console.log('父代',self.parent_generation_id,
                                        '种群', self.population_id,
                                        '个体', self.id,
                                        '任务:', self.curr_task_num,
                                        '适应度：', fitness,
                                        '累计适应度', self.fitness_sum);*/

                                self.curr_task_num++;
                            } else {
                                $interval.cancel(timer);
                                self.fitness_avg = Math.round(self.fitness_sum / self.task_num);
                                var run_time = new Date().getTime() - t;
                                console.log('父代',self.parent_generation_id,
                                        '种群', self.population_id,
                                        '个体', self.id,
                                        '总适应度', self.fitness_sum,
                                        '生存次数:', self.task_num,
                                        '平均适应度', self.fitness_avg,
                                        '用时:', run_time);

                                if (self.event.finish) {
                                    self.event.finish(self.id, self.fitness_avg, run_time);
                                }
                            }
                        }, 0);
                    }
                };

                //一代种群的进化，选出最优的一对作为父母，基因遗传到下一代，并且加入一定基因变异
                var RobeyChildren = function(parent_gid, population_id) {
                    this.parent_generation_id = parent_gid ? parent_gid : 0; //父代id
                    this.population_id = population_id ? population_id : 0; //种群id
                    this.collection = [];
                    this.situationMap = Situation.make();
                    this.finish_num = 0;
                    this.process_result = [];
                    this.curr_individual_num = 0;
                    this.event = {
                        finish : null
                    }
                };
                RobeyChildren.prototype = {
                    multiply : function(collection, onFinish) {
                        var self = this;
                        self.collection = collection;
                        self.event.finish = onFinish;
                        //得出每个个体的平均适应度
                        var timer = $interval(function() {
                            if (self.curr_individual_num < self.collection.length) {
                                //console.log('父代',self.parent_generation_id, '种群', self.population_id, '当前个体：' , self.curr_individual_num );
                                var process = new Process(self.curr_individual_num, self.collection[self.curr_individual_num],
                                        self.parent_generation_id, self.population_id);
                                process.start(self.situationMap, function(id, fitness, run_time) {
                                    //console.log('父代',self.parent_generation_id, '种群',
                                    //        self.population_id, '当前个体：' , id, 'fitness_avg', fitness);
                                    self.emit(id, fitness, run_time);
                                });
                                self.curr_individual_num++;
                            } else {
                                $interval.cancel(timer);
                            }
                        }, 100);
                    },
                    emit : function(id, fitness, run_time) {
                        this.process_result.push({id : id, fitness: fitness});
                        this.finish_num++;
                        if (this.finish_num == this.collection.length) {
                            var parents = this.choiceParents();
                            this.inherit(parents);
                        }
                    },
                    choiceParents : function() {
                        var descSort = function(a, b) {
                            //console.log(a.fitness, b.fitness);
                            return a.fitness < b.fitness ? 1 : -1;
                        };
                        this.process_result.sort(descSort);
                        return this.process_result.slice(0, 2);
                    },
                    inherit : function(parents) {
                        var r = randomInt(0, 1),
                                father = this.collection[parents[r].id],
                                mother = this.collection[parents[r ? 0 : 1].id];
                        //console.log('遗传', father, parents[0].fitness, mother, parents[1].fitness);
                        var n = randomInt(0, 243);
                        //繁衍后代
                        var newGene = father.getGene().slice(0, n).concat(mother.getGene().slice(n, 243));
                        //console.log(newGene);
                        //基因变异
                        var variation = randomInt(0, 243);
                        //console.log(variation, newGene[variation]);
                        newGene[variation] = randomInt(0, 6);
                        //console.log('curr:' + newGene[variation]);
                        if (this.event.finish) {
                            this.event.finish(this.population_id, new Robey(newGene), {
                                father : { fitness : parents[0].fitness },
                                mother : { fitness : parents[1].fitness }
                            });
                        }
                    }
                };

                //生成新一代种群
                var YoungerGeneration = function(parent_gid, population_num) {
                    this.parent_generation_id = parent_gid; //父代
                    this.population_num = population_num ? population_num : 100; //最少2个,种群数，也是新一代个体数
                    this.parent_fitness_sum = 0;
                    this.parent_fitness_avg = 0;
                    this.childrens = [];
                    this.curr_population_num = 0;
                    this.status = 0;
                    this.interval = this.population_num * 100;
                    this.event = {
                        newBabyBirth : null,
                        finish : null,
                        stop : null
                    }
                };
                YoungerGeneration.prototype = {
                    start : function(population, onNewBabyBirth, onFinish, onStop) {
                        var self = this;
                        self.event.finish = onFinish;
                        self.event.newBabyBirth = onNewBabyBirth;
                        self.event.stop = onStop;
                        //同一个种群进行population_num次繁衍，每一次繁衍生成一个新后代，做为下一代种群的一员

                        //console.log('开启新进程');
                        //console.log('父代', self.parent_generation_id, '当前种群：', self.curr_population_num );
                        var robeyChildren = new RobeyChildren(self.parent_generation_id, self.curr_population_num);
                        //产生一个新后代
                        robeyChildren.multiply(population, function(children_id, children, parents_info) {
                            self.emit(children_id, children, parents_info);
                        });
                        self.curr_population_num++;
                        var timer = $interval(function() {
                            if (self.status !== -1 && self.curr_population_num < self.population_num) {
                                //console.log('开启新进程');
                                //console.log('父代', self.parent_generation_id, '当前种群：', self.curr_population_num );
                                var robeyChildren = new RobeyChildren(self.parent_generation_id, self.curr_population_num);
                                //产生一个新后代
                                robeyChildren.multiply(population, function(children_id, children, parents_info) {
                                    self.emit(children_id, children, parents_info);
                                });
                                self.curr_population_num++;
                            } else {
                                if (self.status === -1) {
                                    if (self.event.stop) {
                                        self.event.stop();
                                    }
                                }
                                $interval.cancel(timer);
                            }
                        }, this.interval);
                    },
                    emit : function(children_id, children, parents_info) {
                        if (this.status === -1) {
                            return;
                        }
                        this.childrens.push(children);
                        this.parent_fitness_sum += parents_info.father.fitness + parents_info.mother.fitness;
                        if (this.event.newBabyBirth) {
                            this.event.newBabyBirth(children_id, children, parents_info);
                        }
                        if (this.childrens.length == this.population_num) {
                            this.parent_fitness_avg = Math.round(this.parent_fitness_sum / this.population_num / 2);
                            if (this.event.finish) {
                                this.event.finish(this.childrens, {
                                    fitness : this.parent_fitness_avg
                                });
                            }
                        }
                    },
                    stop : function() {
                        this.status = -1;
                    }
                };

                var Evolution = {
                    final_robey : null,
                    current_generation : 0,
                    generation_num : 100, //繁衍多少代
                    individual_num : 100, //每一代个体数量

                    yGeneration : null,

                    onGenerationStart : null,
                    onNewBabyBirth : null,
                    onGenerationFinish : null,
                    onFinish : null,
                    onWillStop : null,
                    onStop : null,

                    running : false,
                    config : function(cfg) {
                        this.generation_num = cfg.generation_num;
                        this.individual_num = cfg.individual_num;
                        
                        this.onGenerationStart = cfg.onGenerationStart;
                        this.onGenerationFinish = cfg.onGenerationFinish;
                        this.onNewBabyBirth = cfg.onNewBabyBirth;
                        this.onFinish = cfg.onFinish;
                        this.onWillStop = cfg.onWillStop;
                        this.onStop = cfg.onStop;
                    },
                    makeInitPopulation : function(callback) {
                        var population = [],
                                self = this,
                                curr_num = 0;
                        //console.log('生成初始种群');
                        var timer = $interval(function() {
                            if (curr_num < self.individual_num) {
                                population.push(new Robey());
                                curr_num++;
                            } else {
                                $interval.cancel(timer);
                                //console.log(population);
                                callback(population);
                            }
                        }, 10);
                    },
                    start : function(population) {
                        var self = this;
                        if (this.generation_num <= 0) {
                            return;
                        }
                        if (this.running === true) {
                            alert('进化正在进行当中...');
                            return;
                        }
                        this.running = true;
                        if (!population || population.length == 0) {
                            //初始种群
                            this.makeInitPopulation(function(population) {
                                self.evolve(population);
                            });
                        } else {
                            this.evolve(population);
                        }
                    },
                    evolve : function(population) {
                        var self = this;
                        if (self.onGenerationStart) {
                            self.onGenerationStart(self.current_generation + 1);
                        }
                        if (self.generation_num == 1 || self.current_generation == self.generation_num - 1) {
                            //最后一代
                            var robeyChildren = new RobeyChildren(self.current_generation);
                            robeyChildren.multiply(population, function(children_id, children, parents_info) {
                                self.final_robey = children;
                                if (self.onFinish) {
                                    self.onFinish(self.current_generation + 1, children_id, children, parents_info);
                                }
                                self.current_generation++;
                                self.running = false;
                            });
                        } else {
                            self.yGeneration = new YoungerGeneration(self.current_generation, self.individual_num);
                            //console.log("第" + self.current_generation + '代');
                            self.yGeneration.start(population,
                                    function(children_id, children, parents_info) {
                                        if (self.onNewBabyBirth) {
                                            self.onNewBabyBirth(self.current_generation + 1, children_id, children, parents_info);
                                        }
                                    },
                                    function(childrens, parents_info) {
                                        if (self.onGenerationFinish) {
                                            self.onGenerationFinish(self.current_generation + 1, childrens, parents_info);
                                        }
                                        self.current_generation++;
                                        self.evolve(childrens);
                                    },
                                    function() {
                                        if (self.onStop) {
                                            self.onStop();
                                        }
                                        self.running = false;
                                    });
                        }
                    },
                    stop : function() {
                        console.log('程序正在终止');
                        if (this.onWillStop) {
                            this.onWillStop();
                        }
                        this.yGeneration.stop();
                    }
                };

                $scope.mainLogInfo = [];
                $scope.detailLogInfo = [];
                $scope.config = {
                    generation_num : 100, //繁衍多少代
                    individual_num : 100,  //每一代个体数量
                    task_num : 100,  //获取平均适应度要生存多少次
                    ipt_step_num : 100, //每一次生存要走多少步
                    onGenerationStart : function(gid) {
                        $scope.mainLogInfo.push('第' + gid + '代繁衍开始');
                        //console.log('第' + gid + '代繁衍开始');
                        //$('#generation_box').append('<li>第' + gid + '代繁衍开始</li>');
                    },
                    onNewBabyBirth : function(gid, robey_id, robey, parents_info) {
                        $scope.detailLogInfo.push('诞生第' + (gid + 1) + '代新个体(ID：' + robey_id + '), 父母适应度：'
                                + parents_info.father.fitness + '，' + parents_info.mother.fitness);
                        //$('#generation_box').append('<li>第' + gid + '代诞生新个体(ID' + robey_id + ')</li>');
                    },
                    onGenerationFinish : function(gid, childrens, parents_info) {
                        $scope.mainLogInfo.push('第' + gid + '代繁衍完成， 父代平均适应度：' + parents_info.fitness);
                        //$('#generation_box').append('<li>第' + gid + '代繁衍完成， 父代平均适应度：' + parents_info.fitness + '</li>');
                    },
                    onFinish : function(gid, robey_id, robey, parents_info) {
                        $scope.mainLogInfo.push('进化完成，适应度：父 '
                                + parents_info.father.fitness + '，母 ' + parents_info.mother.fitness);
                        //$('#generation_box').append('<li>进化完成，父亲适应度：'
                        //        + parents_info.father.fitness + '，母亲适应度：' + parents_info.mother.fitness + '</li>');
                        //console.log('进化完成', robey);
                    },
                    onWillStop : function() {
                        $scope.mainLogInfo.push('进化即将终止');
                    },
                    onStop : function() {
                        $scope.mainLogInfo.push('进化被终止');
                    }
                };
                $scope.start = function () {
                    $scope.mainLogInfo.push('进化开始');
                    Evolution.config($scope.config);
                    Evolution.start();
                };
                $scope.stop = function() {
                    Evolution.stop();
                };

                //scope少放东西，异步，时间间隔
            });


</script>
